
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <!-- th: table head. kalın yazılır
        td: table data. tablonun verisi-->
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Deparman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Gamze</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Murat</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Okan</td>
        <td>İnsan Kaynakları</td>
    </tr>

</table>

